.navbar-lewagon {
  justify-content: space-between;
  background: transparent;

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand img {
    width: 40px;
  }
}

.dropdown-toggle {
  width: 48px;
  border-radius: 50%;
}
